html {
  height: 100%;
  margin: 0;
}

body {
  height: inherit;
  display: flex;
}

#videoContainer {
  background-color: LightGrey;
  flex: 3;
}

#tools {
  background-color: LightBlue;
  flex: 1;
}

video {
  display: inline-flex;
}
